<%- include("../partials/header") %>

<div class="container text-center mt-5">
  <div class="formContainer">
    <h1>Add New Comment</h1>
    <h3>'<%=campground.name %>'</h3>
    <img class="card w-100" src="<%= campground.image %>" alt="">
    <label for="description">Comment:</label>
    <form action="/campgrounds/<%= campground._id%>/comments" method="post" class="text-center w-100">
      <textarea required rows="10" id="description" placeholder="Thoughts on '<%= campground.name %>'?" class="form-control w-100" name="comment[text]"></textarea>
      <button class="btn btn-primary btn-sm" type="submit">Submit</button>
    </form>

    <a href="/campgrounds">View All Campgrounds</a>
  </div>
</div>

<%- include("../partials/footer") %>


