<%- include("../partials/header") %>



<div class="container text-center">
  <% if (errorMessage[0] || successMessage[0]) { %>
    <header class="jumbotron mb-0 mt-0">
  <% } else {%>
    <header class="jumbotron mb-0">
  <% } %>
      <h1>Welcome to YelpCamp!</h1>
      <p>View Our Hand-Picked Campgrounds from all over the Planet.</p>
      <p>
        <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add a Campground</a>
      </p>
      <form id="campgroundSearch" action="/campgrounds" method="get" class="form-inline">
        <div class="form-group mx-auto">
          <input class="form-control my-auto" type="text" name="search" placeholder="Campground Search...">
          <input class="btn btn-md btn-outline-success" type="submit" value="Search">
          <a class="btn btn-md btn-outline-primary" href="/campgrounds">Reset</a>
        </div>
      </form>
  </header>

  

  <div class="row justify-content-center">
    <% if (noMatch) {%>
      <div class="col-md-12 mt-4">
        <h1>No campgrounds match '<%= searchTerm %>'</h1>
      </div>
    <% } %>
    <% campgrounds.forEach((campground) => { %>
      <div class="campground col-md-6 col-lg-4 col-xl-3">
        <div class="card w-100">
          <div class="card-img-top" style="background: url(<%= campground.image %>);">
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= campground.name %></h5>
            <% if (campground.description.length > 78) {%>
                <p class="card-text"><%- campground.description.slice(0,75) + '...'%></p>
            <% } else { %>
              <p class="card-text"><%- campground.description %></p>
            <% } %>
            <a href="/campgrounds/<%= campground._id%>" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<%- include("../partials/footer") %>
