<%- include("../partials/header") %>

<div class="container-fluid text-center title">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">YelpCamp</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card bg-light">
        <img class="img-fluid" id="showImg" src="<%= campground.image %>"></img>
        <div class="caption px-3 mt-4">
          <a href="#"><h4 class="name mb-0"><%= campground.name %></h4></a>
          <h4 class="price">$9.50/night</h4>
        </div>
        <div class="author">
          <h6><em>by <a href="#"><%= campground.author.username %></em></h6></a>
          <div class="hidden"></div>
        </div>
        <p class="lead mt-3 w-100 text-justify px-3"><%- campground.description %></p>
        <% console.log(campground.author.id) %>
        <% if (currentUser && currentUser._id.equals(campground.author.id)) { %>
        <div class="card-body buttons pt-1">
          <a class="btn btn-md btn-outline-primary buttonWidth" href="/campgrounds/<%= campground._id %>/edit" type="submit">Edit</a>
          <form class="text-left" action="/campgrounds/<%= campground._id %>?_method=delete" method="post">
            <button class="btn btn-md btn-outline-danger buttonWidth" type="submit">Delete</button>
          </form>	
        </div>
        <% } %>
      </div>
      <div class="card mt-3">
        <div id="commentButtonDiv">
          <div class="hidden"></div>
          <% let j = 0; %>
          <% while (campground.comments[j]) { %>
            <% if (currentUser && currentUser._id.equals(campground.comments[j].author.id)) { %>
              <a id="commentButton" class="btn btn-md btn-outline-success" href="/campgrounds/<%= campground._id %>/comments/<%= campground.comments[j]._id %>/edit">Leave a Review</a>
              <% break; %>
            <% } else { %>
              <a id="commentButton" class="btn btn-md btn-outline-success" href="/campgrounds/<%= campground._id %>/comments/new">Leave a Review</a>
            <% } %>
            <% j++; %>
          <% } %>
        </div>
      <hr class="m-0 styleHRTop">
      <% let i = 0; %>
      <% campground.comments.forEach((comment) => { %>
        <% console.log(i) %>
        <% if (i > 0) {%>
          <hr class="m-0 styleHRComments">
        <% } %>
        <% i++; %>
        <div class="comment">
          <div class="edit">
              <span class="author mt-3 ml-0 mb-0"><strong><%= comment.author.username %></strong></span> 
          <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
              <a class="scaled" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"><i class="scaleEdit far fa-edit"></i></a>
              <form id="" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=delete" method="post">
                <button id="deleteComment" class="scaleDelete" type="submit"><i class="far fa-trash-alt"></i></button>
              </form>
          <% } %>
            </div>
          <span class="dateCreated mt-3"><em><%= comment.date.toLocaleDateString() %> at <%= comment.date.toLocaleTimeString() %></em></span>
          <p class="commentText mb-3"><%= comment.text %></p>
          
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>
   

<%- include("../partials/footer") %>me